<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">formly</h1>
        </md-toolbar>
        <md-content layout-padding>
        </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
        <div layout="column" layout-fill layout-align="top center">
        </div>
        <div layout="row">
                   <md-button class="md-raised md-primary" ng-click="dc.createApi()"> Add API </md-button>
        </div>
        <div flex>
            <ui-view></ui-view>
        </div>
    </md-content>
</section>